<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <img class="logo" src="../../assets/icon/favicon.ico">
  </div>

  <ion-card>
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="usuario.email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
        <span class="error" [hidden]="!loginForm.controls.email.errors.required">
          O email é obrigatório
        </span>
        <span class="error" [hidden]="!loginForm.controls.email.errors.pattern">
          O email digitado é inválido
        </span>
      </div>

      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.senha" formControlName="senha"></ion-input>
      </ion-item>
      <div *ngIf="!loginForm.controls.senha.valid && (loginForm.controls.senha.dirty || loginForm.controls.senha.touched)">
        <span class="error" [hidden]="!loginForm.controls.senha.errors.required">
          A senha é obrigatória
        </span>
      </div>

      <div text-center class="btn-card">
        <button ion-button type="submit" color="secondary" [disabled]="!loginForm.valid" block>Entrar</button>
      </div>
    </form>
  </ion-card>
  <button ion-button (click)="pagCadastro()" clear block>Cadastre-se</button>

<!--
<ion-card>
  <ion-card-content>
    <h2>{{ response | json }}</h2>
  </ion-card-content>
</ion-card>
-->
</ion-content>
