<ion-header>

  <ion-navbar>
    <ion-title>Veículo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="cadForm" (ngSubmit)="log()">
    <ion-card>
      <ion-card-header>
        Cadastro veículo:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Marca</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.motorista.veiculo.marca" name="marca" formControlName="marca"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.marca.valid && (cadForm.controls.marca.dirty || cadForm.controls.marca.touched)">
          <span class="error" [hidden]="!cadForm.controls.marca.errors.required">
            Digite a marca do veículo
          </span>
        </div>

        <ion-item>
          <ion-label floating>Modelo</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.motorista.veiculo.modelo" name="modelo" formControlName="modelo"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.modelo.valid && (cadForm.controls.modelo.dirty || cadForm.controls.modelo.touched)">
          <span class="error" [hidden]="!cadForm.controls.modelo.errors.required">
            Digite o modelo do veículo
          </span>
        </div>

        <ion-item>
          <ion-label floating>Ano</ion-label>
          <ion-datetime displayFormat="YYYY" max="2100" [(ngModel)]="usuario.motorista.veiculo.ano" name="ano" formControlName="ano"></ion-datetime>
        </ion-item>
        <div *ngIf="!cadForm.controls.ano.valid && (cadForm.controls.ano.dirty || cadForm.controls.ano.touched)">
          <span class="error" [hidden]="!cadForm.controls.ano.errors.required">
            Selecione o ano do veículo
          </span>
        </div>

        <ion-item>
          <ion-label floating>Cor</ion-label>
          <ion-select [(ngModel)]="usuario.motorista.veiculo.cor" name="cor" formControlName="cor">
            <ion-option value="Branco">Branco</ion-option>
            <ion-option value="Preto">Preto</ion-option>
            <ion-option value="Prata">Prata</ion-option>
            <ion-option value="Vermelha">Vermelha</ion-option>
            <ion-option value="Azul">Azul</ion-option>
            <ion-option value="Verde">Verde</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!cadForm.controls.cor.valid && (cadForm.controls.cor.dirty || cadForm.controls.cor.touched)">
          <span class="error" [hidden]="!cadForm.controls.cor.errors.required">
            Selecione a cor do veículo
          </span>
        </div>

        <ion-item>
          <ion-label floating>Lugares</ion-label>
          <ion-input type="number" [(ngModel)]="usuario.motorista.veiculo.lugares" name="lugares" formControlName="lugares"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.lugares.valid && (cadForm.controls.lugares.dirty || cadForm.controls.lugares.touched)">
          <span class="error" [hidden]="!cadForm.controls.lugares.errors.required">
            Digite a quantidade de lugares do veículo
          </span>
        </div>

        <ion-item>
          <ion-label floating>Placa</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.motorista.veiculo.placa" name="placa" [brmasker]="{mask: '000-0000', len:8}" formControlName="placa"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.placa.valid && (cadForm.controls.placa.dirty || cadForm.controls.placa.touched)">
          <span class="error" [hidden]="!cadForm.controls.placa.errors.required">
            Digite a placa do veículo
          </span>
          <span class="error" [hidden]="!cadForm.controls.placa.errors.pattern">
            <br>A placa do veículo inválida
          </span>
        </div>

        <ion-item>
            <ion-label floating>Renavam</ion-label>
            <ion-input type="number" [(ngModel)]="usuario.motorista.veiculo.renavam" name="renavam" formControlName="renavam" [brmasker]="{mask: '00000000000', len:11, type:'num'}"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.renavam.valid && (cadForm.controls.renavam.dirty || cadForm.controls.renavam.touched)">
          <span class="error" [hidden]="!cadForm.controls.renavam.errors.required">
            Digite o renavam do veículo
          </span>
          <span class="error" [hidden]="!cadForm.controls.renavam.errors.pattern">
            <br>Renavam do veículo inválido
          </span>
        </div>
      </ion-card-content>
    </ion-card>

    <div text-right>
        <button ion-button icon-only [disabled]="!cadForm.valid">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
  </form>
</ion-content>
