<ion-header>

  <ion-navbar>
    <ion-title>Aluno</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="cadForm" (ngSubmit)="cadastrar()" >
    <ion-card>
      <ion-card-header>
        Universidade
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Universidade</ion-label>
          <ion-select [(ngModel)]="usuario.aluno.faculdade.id" name="usuario.aluno.faculdade.id" formControlName="faculdade">
            <ion-option *ngFor="let faculdade of listaFacul"  value="{{ faculdade != null ? faculdade.id : '' }}">{{ faculdade != null ? faculdade.nome : '' }} - {{ faculdade != null ? faculdade.campos : '' }}</ion-option>        
          </ion-select>
        </ion-item>
        <div *ngIf="!cadForm.controls.faculdade.valid && (cadForm.controls.faculdade.dirty || cadForm.controls.faculdade.touched)">
            <span class="error" [hidden]="!cadForm.controls.faculdade.errors.required">
              Selecione a universidade em que estuda
            </span>
          </div>

        <ion-item>
          <ion-label floating>Hora entrada</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="usuario.aluno.hrEntrada" name="hrEntrada" formControlName="hrEntrada"></ion-datetime>
        </ion-item>
        <div *ngIf="!cadForm.controls.hrEntrada.valid && (cadForm.controls.hrEntrada.dirty || cadForm.controls.hrEntrada.touched)">
            <span class="error" [hidden]="!cadForm.controls.hrEntrada.errors.required">
              Selecione a hora de entrada
            </span>
          </div>

        <ion-item>
            <ion-label floating>Hora saída</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="usuario.aluno.hrSaida" name="hrSaida" formControlName="hrSaida"></ion-datetime>
          </ion-item>
          <div *ngIf="!cadForm.controls.hrSaida.valid && (cadForm.controls.hrSaida.dirty || cadForm.controls.hrSaida.touched)">
              <span class="error" [hidden]="!cadForm.controls.hrSaida.errors.required">
                  Selecione a hora de entrada
              </span>
            </div>
      </ion-card-content>
    </ion-card>

    <div text-right>
        <button ion-button icon-only [disabled]="!cadForm.valid">
          <ion-icon name="add"></ion-icon>
        </button>
    </div>
  </form>
</ion-content>
