<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      UVan
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div #mapa id="map_canvas">
    <ion-fab left>
      <button ion-fab color="dark">
        <ion-icon name="locate"></ion-icon>
      </button>
      <ion-fab-list>
        <button ion-fab color="dark" (click)="centralizarMapa()">
          <ion-icon name="person"></ion-icon>
        </button>
        <button ion-fab color="dark" (click)="localMotorista()">
          <ion-icon name="car"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
  </div>

  <div class="bottom request-controls">
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" (click)="confirmarFalta()" [hidden]="!presenca">Faltar</button>
        <button ion-button block color="secondary" (click)="confirmarFalta()" [hidden]="presenca">Ir</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="presenca">
        <b>SUA CONDUÇÃO ESTÁ A CAMINHO</b>
      </ion-col>
      <ion-col *ngIf="!presenca">
        <b>MARCADO COMO FALTA</b>
      </ion-col>
    </ion-row>
  </div>
</ion-content>