<ion-header>

  <ion-navbar>
    <ion-title>Motorista</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="cadForm" (ngSubmit)="proxForm()">
    <ion-card>
      <ion-card-header>
        CNH:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Categoria</ion-label>
          <ion-select [(ngModel)]="motorista.categoriaCNH" name="categoriaCNH" formControlName="cat_cnh">
            <ion-option value="C">C</ion-option>
            <ion-option value="D">D</ion-option>
            <ion-option value="E">E</ion-option>
            <ion-option value="AC">AC</ion-option>
            <ion-option value="AD">AD</ion-option>
            <ion-option value="AE">AE</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!cadForm.controls.cat_cnh.valid && (cadForm.controls.cat_cnh.dirty || cadForm.controls.cat_cnh.touched)">
          <span class="error" [hidden]="!cadForm.controls.cat_cnh.errors.required">
            Selecione sua CNH
          </span>
          <span class="error" [hidden]="cadForm.controls.cat_cnh.errors.minLength && cadForm.controls.cat_cnh.errors.maxLength">
            <br>CNH inválida
          </span>
        </div>

        <ion-item>
          <ion-label floating>Número</ion-label>
          <ion-input type="number" [(ngModel)]="motorista.numeroCnh" name="numeroCnh" formControlName="num_cnh" [brmasker]="{mask: '00000000000', len:11, type:'num'}"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.num_cnh.valid && (cadForm.controls.num_cnh.dirty || cadForm.controls.num_cnh.touched)">
          <span class="error" [hidden]="!cadForm.controls.num_cnh.errors.required">
            Digite o número de sua CNH
          </span>
          <span class="error" [hidden]="!cadForm.controls.num_cnh.errors.pattern">
            <br>Número de CNH inválido
          </span>
        </div>

        <ion-item>
          <ion-label floating>Validade</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" min="2018" max="2100" [(ngModel)]="motorista.validaCnh" name="validaCnh" formControlName="valid_cnh"></ion-datetime>
        </ion-item>
        <div *ngIf="!cadForm.controls.valid_cnh.valid && (cadForm.controls.valid_cnh.dirty || cadForm.controls.valid_cnh.touched)">
          <span class="error" [hidden]="!cadForm.controls.num_cnh.errors.required">
            Selecione a data de validade de sua CNH
          </span>
        </div>

        <ion-item>
          <ion-label floating>Observação</ion-label>
          <ion-textarea [(ngModel)]="motorista.obsCnh" name="obsCnh" formControlName="obs_cnh"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Região de Trabalho:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Cidade:</ion-label>
            <ion-select [(ngModel)]="motorista.regiao" name="regiao" formControlName="regiao">
              <ion-option value="Santo André">Santo André</ion-option>
              <ion-option value="São Caetano">São Caetano</ion-option>
              <ion-option value="São Bernardo do Campo">São Bernardo do Campo</ion-option>
              <ion-option value="São Paulo">São Paulo</ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="!cadForm.controls.regiao.valid && (cadForm.controls.regiao.dirty || cadForm.controls.regiao.touched)">
          <span class="error" [hidden]="!cadForm.controls.regiao.errors.required">
            Selecione sua região de trabalho
          </span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Universidades que atende:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Universidades</ion-label>
          <ion-select [(ngModel)]="motorista.faculdade" name="faculdade" multiple="true" formControlName="faculdade">
            <ion-option *ngFor="let faculdade of listaFacul"  value="{{ faculdade != null ? faculdade.id : '' }}">{{ faculdade != null ? faculdade.nome : '' }} - {{ faculdade != null ? faculdade.campos : '' }}</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!cadForm.controls.faculdade.valid && (cadForm.controls.faculdade.dirty || cadForm.controls.faculdade.touched)">
          <span class="error" [hidden]="!cadForm.controls.faculdade.errors.required">
            Selecione as universidades que você atende
          </span>
        </div>
      </ion-card-content>
    </ion-card>

    <div text-right>
        <button ion-button icon-only [disabled]="!cadForm.valid">
          <ion-icon name="add"></ion-icon>
        </button>
    </div>
  </form>
</ion-content>
