<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="cadForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        Tipo de Usuário:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Tipo</ion-label>
          <ion-select formControlName="tipo">
            <ion-option value="A">Aluno</ion-option>
            <ion-option value="C">Condutor</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!cadForm.controls.tipo.valid && (cadForm.controls.tipo.dirty || cadForm.controls.tipo.touched)">
          <span class="error" [hidden]="!cadForm.controls.tipo.errors.required">
            Selecione o tipo de usuário
          </span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Dados de acesso:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>E-mail</ion-label>
          <ion-input type="email" formControlName="eMail"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.eMail.valid && (cadForm.controls.eMail.dirty || cadForm.controls.eMail.touched)">
          <span class="error" [hidden]="!cadForm.controls.eMail.errors.required">
            Digite seu email
          </span>
          <span class="error" [hidden]="!cadForm.controls.eMail.errors.pattern && cadForm.controls.eMail.errors.minLength">
            O email digitado é inválido
          </span>
        </div>

        <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.senha.valid && (cadForm.controls.senha.dirty || cadForm.controls.senha.touched)">
          <span class="error" [hidden]="!cadForm.controls.senha.errors.required">
            Digite a senha
          </span>
          <span class="error" [hidden]="!cadForm.controls.senha.errors.pattern && cadForm.controls.senha.errors.minLength && cadForm.controls.senha.errors.maxLength">
            Sua senha deve conter no mínimo 6 digitos e no máximo 50, com letras maiúsculas e minúsculas, números e caracteres especiais
          </span>
        </div>

        <ion-item>
          <ion-label floating>Confirme a senha</ion-label>
          <ion-input type="password" formControlName="senha2"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.senha2.valid && (cadForm.controls.senha2.dirty || cadForm.controls.senha2.touched)">
          <span class="error" [hidden]="!cadForm.controls.senha2.errors.required">
            Confirme a senha
          </span>
        </div>
        <div *ngIf="cadForm.controls.senha2.dirty || cadForm.controls.senha2.touched" >
          <span class="error" [hidden]="senhasIguais()">
            Senhas não são iguais
          </span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Dados pessoais:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Nome Completo</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.nome.valid && (cadForm.controls.nome.dirty || cadForm.controls.nome.touched)">
          <span class="error" [hidden]="!cadForm.controls.nome.errors.required && cadForm.controls.nome.errors.minLength">
            Digite seu nome completo
          </span>
        </div>

        <ion-item>
          <ion-label floating>Gênero</ion-label>
          <ion-select formControlName="genero" interface="popover">
            <ion-option value="F">Feminino</ion-option>
            <ion-option value="M">Masculino</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="!cadForm.controls.genero.valid && (cadForm.controls.genero.dirty || cadForm.controls.genero.touched)">
          <span class="error" [hidden]="!cadForm.controls.genero.errors.required">
            Selecione seu gênero
          </span>
        </div>

        <ion-item>
          <ion-label floating>Data Nascimento</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dataNascimento"></ion-datetime>
        </ion-item>
        <div *ngIf="!cadForm.controls.dataNascimento.valid && (cadForm.controls.dataNascimento.dirty || cadForm.controls.dataNascimento.touched)">
          <span class="error" [hidden]="!cadForm.controls.dataNascimento.errors.required">
            Selecione sua data de nascimento
          </span>
        </div>

        <ion-item>
          <ion-label floating>CPF/CNPJ</ion-label>
          <ion-input type="text" formControlName="documento" [brmasker]="{person: true}"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.documento.valid && (cadForm.controls.documento.dirty || cadForm.controls.documento.touched)">
          <span class="error" [hidden]="!cadForm.controls.documento.errors.required">
            Digite seu CPF ou seu CNPJ
          </span>
          <span class="error" [hidden]="cadForm.controls.documento.errors.minLength && cadForm.controls.documento.errors.maxLength">
            <br>CPF ou CNPJ inválidos
          </span>
        </div>

        <ion-item>
          <ion-label floating>Telefone</ion-label>
          <ion-input type="tel" formControlName="telefone" [brmasker]="{phone: true}"></ion-input>
        </ion-item>
        <div *ngIf="!cadForm.controls.telefone.valid && (cadForm.controls.telefone.dirty || cadForm.controls.telefone.touched)">
          <span class="error" [hidden]="!cadForm.controls.telefone.errors.required">
            Digite seu telefone residencial ou móvel
          </span>
          <span class="error" [hidden]="cadForm.controls.telefone.errors.minLength && cadForm.controls.telefone.errors.maxLength">
            Telefone inválido
          </span>
        </div>
      </ion-card-content>
    </ion-card>
    
    <div text-right>
      <button ion-button icon-only [disabled]="!cadForm.valid || !senhasIguais()">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </form>
</ion-content>
